# Python cache
__pycache__/
*.pyc

# Python Virtual Environments
.venv/
venv/
host_venv/

# IDE / Editor folders
.vscode/
.idea/

# Secret files / Environment variables
.env
*.env

# Certificates - We are backing them up this time, but this is
# how you would ignore them in the future. You can leave this commented out for now.
# certs/